@font-face {
   font-family: 'appleSD';
   src: url('./ext/AppleSDGothicNeoUL.ttf') format('truetype');
}

body{
   font-family: math;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
}

#chat_box {
   padding: 20px;
   display: inline-block;
   position: relative;
   width: 510px;
   height: 500px;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
   overflow-y: scroll;
}

#chat_box p{
   font-size: 1em;
   padding: 10px;
   margin: 5px;
   border-radius: 10px;
   background-color: #eceaea;
}

.searchBox {
   position: relative;
   width: 560px;
   height: 60px;
   background: #fff;
   display: flex;
   justify-content: space-between;
   transition: 0.5s;
   overflow: hidden;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   margin-top: 20px;
}

.searchBox .search {
   position: relative;
   min-width: 60px;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
}

.searchBox .searchInput {
   position: absolute;
   left: 60px;
   width: calc(100% - 120px);
   height: 100%;
   line-height: 60px;
}

.searchBox .searchInput input {
   position: absolute;
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
   font-size: 1.25em;
}

html::-webkit-scrollbar, #chat_box::-webkit-scrollbar {
   width: 9px;
   height: 9px;
}

html::-webkit-scrollbar-button, #chat_box::-webkit-scrollbar-button {
   height: 10px;
}

html::-webkit-scrollbar-thumb, #chat_box::-webkit-scrollbar-thumb {
   background: #999;
   border: 1px solid #999;
   border-radius: 5px;
}

html::-webkit-scrollbar-track, #chat_box::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 5px;
}