.table-container {
    width: 1250px;
    overflow-x: scroll;
}

.custom-table {
    width: 2200px;
    table-layout: fixed;
}

.custom-table td {
    width: 100px;
    text-align: center;
}

.custom-table,
.custom-table th,
.custom-table td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-table th {
    width: 100px;
    background-color: #ddd;
}

#create_table_div{
    margin: 30px 0px;
    table-layout: fixed;
}

.visible-table,
.visible-table th,
.visible-table td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.visible-table td {
    width: 100px;
    text-align: center;
}

.visible-table th {
    width: 100px;
    background-color: #ddd;
}

#column_num{
    margin: 10px 0px;
    font-weight: bold;
}